doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='CSS/design.css')


.container
  .img-btn
    .img
      a(href="/") 
        img.image(src='img/resbuild.svg' alt='')
    .btn
      a.button(href='#') Sign in
  -if(doc)
    .sucessfullMessage 
      h1=`Hello ${doc.name} thank you for sign-up please sign-in your account`
  .content
    .hearder
      h1.heading SIGN IN
      p.paragraph Log in to your account
    nav
      .btn-2
        a.log-in.fb(href='/auth/facebook') Sign in with facebook
        a.log-in.google(href='/auth/google') Sign in with Google
      .break
        hr.line
        hr.line
      p.or or
    form(action='/sign-in', method="post")
      input.box(type='email' placeholder='your email', name='email')
      br
      input.box(type='Password' placeholder='Your Password', name='password')
      br
      button.btn-3(type="submit") LOG IN
      footer
        a.forgot-password(href='#') I forgot my password
        p.create
          | Don&apos;t have account? 
          a.create-one(href='/sign-up') Create one
